In [1]:
text="Rubal Bansal"
for letter in text:
    if letter==" ":
        print("The loop skipped space")
        continue
    print(letter)

R
u
b
a
l
The loop skipped space
B
a
n
s
a
l

In [2]:
l1=[2,4,6,7]
for l in l1:
    print(l)

2
4
6
7

In [3]:
text="Rubal Bansal"
for letter in text:
    if letter==" ":
        print("The loop skipped space")
        continue
    print(letter)

R
u
b
a
l
The loop skipped space
B
a
n
s
a
l

In [4]:
l1=[2,4,6,7,88,90,67,76,56,77,98]
for l in l1:
    print("apple")

apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple

In [5]:
for x in l1:
    print(x+2)

4
6
8
9
90
92
69
78
58
79
100

In [6]:
for x in l1:
    print(x**2)

4
16
36
49
7744
8100
4489
5776
3136
5929
9604

In [7]:
for x in l1:
    if x%2 ==0:
        print(x)

2
4
6
88
90
76
56
98

In [8]:
for x in l1:
    if x%2 ==0:
        print("Even={}".format(x))
    else:
        print("Odd={}".format(x))

Even=2
Even=4
Even=6
Odd=7
Even=88
Even=90
Odd=67
Even=76
Even=56
Odd=77
Even=98

In [9]:
###x=0
#while x<3:
#    print("X is =".format(x))

In [10]:
x=0

while x<3:
    print("X is ={}".format(x))
    x= x + 1

X is =0
X is =1
X is =2

In [11]:
x=0

while x<3:
    x= x + 1
    print("X is ={}".format(x))

X is =1
X is =2
X is =3

In [12]:
number=7

if number>=0:
    print("positive number")
else:
    print("negative number")

positive number

In [13]:
number=-7

if number>=0:
    print("positive number")
else:
    print("negative number")

negative number

In [14]:
number=float(input("enter your number"))

if number>=0:
    print("positive number")
else:
    print("negative number")

enter your number9
positive number

In [15]:
list1=[1,2,3,4,5]

summed_list=0

for x in list1:
    summed_list=summed_list+x
print("our summation is", summed_list)

our summation is 15